img{
    width: 400px;
    height:auto;
    margin: 0 auto;
    display:block;
}

body{
    background: rgba(226,226,226,1);
    background: rgba(171,171,171,1);
    background: -moz-linear-gradient(left, rgba(171,171,171,1) 0%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(171,171,171,1)), color-stop(72%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(171,171,171,1) 0%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(171,171,171,1) 0%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(171,171,171,1) 0%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(171,171,171,1) 0%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%);
}